# -*-mode:toml-*- vim:ft=toml.gotexttmpl
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.{md,mdx}]
indent_style = space
indent_size  = 2

# Shell Script
[*.{sh,zsh,fish,fish.symlink}]
indent_style = space
indent_size  = 2

# HTML & CSS
[*.{html,css,scss}]
indent_style = space
indent_size  = 2
tab_width    = 2

# JavaScript / Typescript
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size  = 2

# JSON & YAML
[*.{json,y{a,}ml}]
indent_size  = 2
indent_style = space

# TOML
[*.{toml}]
indent_style = space
indent_size  = 2
